form {
    display: flex;
    width: 100%;
    margin: 1% 0;
    padding: 0%;
    flex-direction: column;
}
fieldset {
    display: flex;
    flex-direction: column;
    padding: 0.2rem 0 0 0;
    margin-bottom: 1.5rem;
    border: 0;
}
.field {
    flex-basis: 100%;
    height: 2rem;
    font-family: Ubuntu-L, Helvetica, Arial, sans-serif;
    font-size: 1rem;
}
.field::placeholder {
    color: var(--grey);
}
textarea {
    height: 8rem;
    resize: none;
    overflow: auto;
    color: var(--grey);
}
.button {
    font-size: 1rem;
    height: 2rem;
    margin-right: 1rem;
}
@media screen and (min-width: 600px) {

}
