@font-face {
    font-family: "Ubuntu-L";
    src: url(/fonts/Ubuntu-L.ttf) format('truetype');
}
@font-face {
    font-family: "Ubuntu-M";
    src: url(/fonts/Ubuntu-L.ttf) format('truetype');
}
html {
    --grey: #333;
    --medium-grey: #666;
    --light-grey: #F2F2F2;
    --blue: #006CD1;
    --dark-red: #8B0000;
    --light-orange: #FFE0CC;
    --light-yellow: #FFFFE0;
    --red: #F00;
    --green: #2F4F4F;
    --medium-green: #BFD9D9;
    --light-green: #EFF5F5;
}
body {
    font-size: 1.2rem;
    background-image: linear-gradient(to top, var(--medium-grey), var(--grey));
    font-weight: normal;
    font-family: Ubuntu-L, Helvetica, Arial, sans-serif;
    color: var(--grey);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-image: linear-gradient(to bottom, var(--green), var(--blue));
    border-radius: 10px;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header div {
    margin: 1%;
    display: flex;
    flex-direction: row;
    padding-right: 1%;
}
.topLogo {
    width: 1.8rem;
    padding: 1%;
}
nav {
    margin: 1%;
    display: flex;
    flex-direction: row;
    flex-basis: 70%;
    padding: 0.5rem;
}
.navLink {
    color: white;
    text-decoration: none;
    margin-right: 0.5rem;
    font-size: 1.2rem;
}
.navLink:hover {
    color: red;
}
.central {
    display: flex;
    flex-direction: column;
    flex: 1;
}
main {
    background-image: linear-gradient(to bottom, var(--light-yellow), var(--light-orange));
    flex-basis: 75%;
    padding: 1%;
    border-radius: 10px;
    text-align: justify;
}
main section {
    background-color: wheat;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}
h1 {
    font-size: 1.4rem;
}
.banner  {
    width: 100%;
    padding-bottom: 1%;
    border-radius: 10px;
}
h2 {
    font-size: 1.1rem;
}
h1,h2 {
    color: var(--blue);
}

.grey {
    color: var(--grey);
}

.red {
    color: var(--red);
}

            /*ol {
                list-style-type: none;
                color: var(--grey);
            }
            ol li {
                counter-increment: item;
            }
            ol li::before {
                content: counter(item) ". ";
                color: var(--red);
            }

            ul {
                list-style-type: none;
                color: var(--grey);
            }

            ul li::before {
                content: "\2022";
                color: var(--red);
                margin-right: 0.5em;
            }*/

audio, video {
    width: 100%;
}
aside {
    background-image: linear-gradient(to bottom, var(--light-yellow), var(--light-orange));
    flex-basis: 25%;
    padding: 1%;
    border-radius: 10px;
    margin-left: 0%;
    margin-top: 1%;
}
aside section {
    background-color: wheat;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}
.pdf {
    width: 5rem;
}
footer {
    background-image: linear-gradient(to top, var(--green), var(--blue));
    color: white;
    border-radius: 10px;
    padding: 1%;
    text-align: center;
    margin-top: 1%;
}

footer a {
    color: white;
}
@media screen and (min-width: 600px) {
    body {
        font-size: 1.1rem;
    }
    nav {
        margin: 1%;
        display: flex;
        flex-direction: row;
        flex-basis: 60%;
        padding: 1rem;
    }
    .navLink {
        margin-right: 1rem;
        font-size: 1.5rem;
    }
    .topLogo {
        width: 2.5rem;
    }
    .central {
        flex-direction: row;
    }
    h1 {
        font-size: 1.6rem;
    }
    aside {
        margin-left: 1%;
        margin-top: 0%;
    }
    h2 {
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 1000px) {
    body {
        font-size: 1rem;
    }
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.3rem;
    }
}
.toggle_link{
    display: inline-block;
    font-size: 0.75rem;
    font-weight: normal;
    color: blue;
    text-decoration: underline dotted;
    font-family: "Ubuntu-L",Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin-left: 10px;
}