body {
    
}
.standardBox {
    background-color: var(--light-grey);
}
.imageContent {
    background-color: yellow;
    margin: 10px;
    padding: 20px;
    border: 6px solid blue;
    border-radius: 15px;
    width: 250px;
    height: auto;
    box-sizing: border-box;
}
audio,video {
    width: 30%;
}
.blocAudio {
    margin: 1.25rem;
}
fieldset {
    color: var(--dark-red);
    font-size: 1.2rem;
    margin-bottom: 1%;
}
.container {
    display: flex;
    background-color: var(--light-grey);
}
.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}
.item {
    color: white;
    font-size: 1.2rem;
    padding: 5px;
    box-shadow: 5px 5px 5px #888888;
    text-align: center;
}
.bruxelles {
    background-image: linear-gradient(to bottom, blue, darkblue);
    border-radius: 10px 0 0 10px;
}
.bruxelles2 {
    background-image: linear-gradient(to bottom, blue, darkblue);
    border-radius: 10px;
}
.bruxelles3 {
    background-image: linear-gradient(to bottom, blue, darkblue);
    border-radius: 10px 0 10px 10px;
}
.bruxelles4 {
    background-image: linear-gradient(to bottom, blue, darkblue);
    border-radius: 10px 10px 0 10px;
}
.madrid {
    background-image: linear-gradient(to bottom, yellow, orange);
}
.madrid2 {
    background-image: linear-gradient(to bottom, yellow, orange);
    border-radius: 10px;
}
.oslo {
    background-image: linear-gradient(to bottom, green, forestgreen);
    border-radius: 0 10px 10px 0;
}
.oslo2 {
    background-image: linear-gradient(to bottom, green, forestgreen);
    border-radius: 10px;
}
.oslo3 {
    background-image: linear-gradient(to bottom, green, forestgreen);
    border-radius: 0 10px 10px 10px;
}
.oslo4 {
    background-image: linear-gradient(to bottom, green, forestgreen);
    border-radius: 10px 10px 10px 0;
}
.justifyStart {
    justify-content: flex-start;
}
.justifyCenter {
    justify-content: center;
}
.justifyEnd {
    justify-content: flex-end;
}
.justifyBetween {
    justify-content: space-between;
}
.justifyAround {
    justify-content: space-around;
}
.thicker {
    height: 60px;
}
.alignStretch {
    align-items: stretch;
}
.alignStart {
    align-items: flex-start;
}
.alignCenter {
    align-items: center;
}
.alignEnd {
    align-items: flex-end;
}
.grow0 {
      flex-grow: 0;
}
.grow1 {
      flex-grow: 1;
}
.grow2 {
      flex-grow: 2;
}
.selfStretch {
    align-self: stretch;
}
.selfStart {
    align-self: flex-start;
}
.selfCenter {
    align-self: center;
}
.selfEnd {
    align-self: flex-end;
}
