#banner {
    width: 100%;
    height: 200px;
    background-color: #333;
    color: #fff;
}

#accueil {
    padding-top: 50px;
}

h1 {
    font-size: 180%;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

h2 {
    font-size: 130%;
    font-weight: bold;
    margin-top: 20px;
}

header {
    background-color: #eee;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index:1;
    width: 100%;
}

nav {
    text-align: center;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 130%;
}

nav ul li a:hover {
    color: #a81931;
}
